.headerPoliticaFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.headerPoliticaFirst > div:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 280px;
}
.headerPoliticaFirst > div:first-child span{
    font-weight: bold;
}
.headerPoliticaFirst > div:first-child span:nth-child(3){
    padding-left: 30px;
    text-transform: uppercase;
}

.headerPoliticaFirst > div:first-child span{
    cursor: pointer;
    padding: 5px 8px;
}
.headerPoliticaFirst > div:first-child span:hover{
    background-color: #f7f7f7;
    border-radius: 4px;
}
.headerPoliticaFirst svg{
    height: 25px;
}
.headerPoliticaFirst > div:last-child{
    display: flex;
    gap:5px;
}
.headerPoliticaSecond > div{
    margin-top: 60px;
    font-weight: bold;
    font-size: xx-large;
}
