.home{
    display: grid;
    gap: 24px;
    grid-template-columns: 2.3fr 1fr;
    margin-top: 25px;
}

.home > div:first-child {
    position: relative;
    padding-right: 8px;
}

.home > div:first-child::after {
    border-right: 1px solid #121212;
    content: '';
    position: absolute;
    display: block;
    top: 32px;
    right: -12px;
    height: 98.5%;
}

.postDeitado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 25px;
}

.postDeitado > div {
    border-top: 1px solid #121212;
    padding-top: 15px;
    position: relative;
}

.postDeitado > div:first-child::after {
    border-right: 1px solid #121212;
    content: '';
    position: absolute;
    display: block;
    top:0;
    right: -12px;
    height: 90%;
}
/* Começo do aside */
.opnioes{
    padding-top: 15px;
    border-top: 1px solid #121212;
}
.opnioes h1{
    margin-bottom: 10px;
}
.opnioes > div > span{
    color: #5a5a5a;
    text-transform: uppercase;
    font-size: 12px;
}
.opnioes > div > h3{
    color: #121212;
    padding: 5px 0 5px;
    font-size: 16px;
}
.opnioes > div{
    border-bottom: 1px solid #5a5a5a;
    margin-bottom: 15px;
}
.postAside > div:first-child{
    flex-direction: column-reverse;
    gap: 5px;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 1px solid red; 
}
.postAside > div:first-child > div > span{
    color: #5a5a5a;
}

.postAside > div:first-child > div > h3:hover{
    color: #5a5a5a;
}
.postAside >div:last-child{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.postAsideDuplo >div {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap:7px;
    border: none;
    font-size: 10px;
}
.postAsideDuplo > div >div{
    margin:0
}
/* segunda parte*/
/* Observação: quando chama a classe post ela coloca uma border-top automática, se usar pra criar em outra parte, vem com ela; */
.caseMissed > div > div:nth-child(1){
    border: none;
}