.categoria > ul{
    border-bottom: 2px solid #121212;
    justify-content: flex-start;
    gap: 8px;
    padding-bottom: 3px;
}

.categoria > ul > li:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 8px;
}

.subPost {
    display: grid;
    grid-template-columns: 810px auto;
    margin-top: 25px;
    margin-bottom: 100px;
}
.subPost > div:first-child{
    border-right: 1px solid #727272;
}
.subPost > div:first-of-type > div > a {
    border: none;
    flex-direction: column-reverse;
    margin: 0;
    padding-right: 30px;
    padding-top: 0;
}

.subPost > div:first-of-type > div > a{
    text-align: center;
}

.subPost > div:first-of-type > div > a > div{
    font-size: 22px;
}
.subPost > div:first-of-type > div > a > div > p{
    font-size: 16px;
}

.subPost > div:last-of-type > div:not(:last-child) {
    border-bottom: 1px solid #5a5a5a;
}
.subPost > div:last-child

.ciencia > div:last-of-type > div:not(:last-child) {
    border-bottom: 1px solid #DFDFDF;
}
