.pagePost > div > a{
    align-items: center;
    border: none;
    cursor:inherit;
    flex-direction: column;
    justify-content: center;
}
.pagePost >div > a > div{
    align-items: center ;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}
.pagePost > div > a > div> h3{
    font-size: 40px;
    text-align: center;
}
.pagePost > div > a > div> small{
    text-align: center;
    font-size: 23px;
}