.ciencia > div:nth-child(2) > ul{
    border-bottom: 2px solid #121212;
    justify-content: flex-start;
    gap: 8px;
    padding-bottom: 3px;
}

.ciencia > div:nth-child(2) > ul > li:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 8px;
}

.postCiencia {
    display: grid;
    grid-template-columns: 810px auto;
    margin-top: 25px;
}

.postCiencia > div:first-of-type > div{
    border: none;
    border-right: 1px solid #727272;
    flex-direction: column-reverse;
    margin: 0;
    padding-right: 30px;
    padding-top: 0;
}

.postCiencia > div:first-of-type > div > div{
    text-align: center;
}

.postCiencia > div:first-of-type > div > div > p{
    color: #727272;
    font-size: 11px;
}

.postCiencia > div:last-of-type > div:not(:last-child) {
    border-bottom: 1px solid #5a5a5a;
}

