.post > a{
    border-top: 1px solid #121212;
    cursor: pointer;
    display: flex;
    gap: 40px;
    padding-top: 15px;
    margin-top: 25px;
}

.post > a > div > h3 {
    color: #121212;
    margin-bottom: 8px;
}
.post > a > div > span {
    color: #5a5a5a;
}

/* post Subtopicos */

.postSubtopicos {
    cursor: pointer;
    margin: 0 0 25px 30px;
    padding-bottom: 25px;
}

.postSubtopicos > div {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.postSubtopico > p {
    color: #121212;
    line-height: 1.375rem;
    font-size: 15px;
}

.postSubtopicos > small {
    color: #727272;
    font-size: 11px;
}

/* Post Deitado */

.postDeitado {
    cursor: pointer;
}

/* Post Latest */

.postLatest {
    align-items: flex-start;
    cursor: pointer;
    display: grid;
    justify-content: center;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    gap: 12px;
    margin: 0 360px 16px 0;
    padding-bottom:16px;
}

.postLatest > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.postLatest h1 {
    color: #121212;
    font-size: 23px
}

.postLatest p {
    font-size: 14px
}

.postLatest span {
    font-size: 11px
}

/* post Api */

.postApi {
    flex-direction: column-reverse;
}